extends ./layout/common

block content
	h1 body

	form(action='/', method='POST')
		.form-group
			label(for='exampleFormControlSelect1') Example select
			select#exampleFormControlSelect1.form-control.voice(name='voice')
				option(value='banmai') banmai
				option(value='leminh') leminh
				option(value='lannhi') lannhi
		.form-group
			label(for='content') Input text  
			textarea#content.form-control(name='content', type='text')
		button.btn.btn-primary Create

	form(action='/create', method='POST')
		button.btn.btn-primary Generate

	audio(controls='')
		source(src= data, type='audio/ogg')








