extends ./layout/common

block content
	h1 Text To Speech

	form(action='/', method='POST')
		.form-group
			label(for='exampleFormControlSelect1') Select voice
			select#exampleFormControlSelect1.form-control.voice(name='voice')
				option(value='banmai') Ban Mai
				option(value='leminh') Le Minh
				option(value='lannhi') Lan Nhi
		.form-group
			label(for='content') Input text  
			textarea#content.form-control(name='content', type='text', value=value)
		button.btn.btn-primary Create

	form(action='/create', method='POST')
		button.btn.btn-primary Generate

	audio(controls='')
		source(src= data, type='audio/ogg')







